body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, #ff85a2, #ff6b98);
  font-family: Arial, sans-serif;
  color: #ffffff;
}

.player {
  text-align: center;
  background-color: rgba(255, 107, 152, 0.3);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 107, 152, 0.5);
}

.song-info {
  margin-bottom: 20px;
}

.song-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.song-artist {
  font-size: 16px;
  color: #eee;
}

.song-image {
  max-width: 100%;
  max-height: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(255, 107, 152, 0.3);
  transition: transform 1s linear;
}

.rotating {
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.controls button {
  background-color: #ff6b98;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.controls button:focus {
  outline: none;
}

.controls button:hover {
  background-color: #ff577f;
}

.progress-container {
  width: 100%;
  height: 10px;
  background-color: #ff85a2;
  margin-top: 10px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(255, 107, 152, 0.3);
}

#progressBar {
  height: 100%;
  width: 0;
  background-color: #ff577f;
  transition: width 0.1s;
}